version: '3.8'

services:
  # 1. Database
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD:-Ravikiran@123}
      - MYSQL_DATABASE=usermanagementmodule
    ports:
      - "3307:3306"
    networks:
      - hotel-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # 2. Backend (Spring Boot)
  backend:
    build: ./backend-hotellux
    container_name: spring-backend
    ports:
      - "9191:9191"
    depends_on:
      mysql-db:
        condition: service_healthy
    environment:
      - DB_HOST=mysql-db
      - DB_USER=root
      - DB_PASSWORD=${DB_PASSWORD:-Ravikiran@123}
      - JWT_SECRET=${JWT_SECRET:-mySuperSecretKey123!}
      - JWT_EXPIRATION=3600000
    networks:
      - hotel-network

  # 3. Frontend (Angular)
  frontend:
    build: ./frontend-hotellux
    container_name: angular-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - hotel-network

networks:
  hotel-network:
    driver: bridge
